<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Registro y edición de pacientes</h4>
                        <p class="card-category">Ingrese rut del paciente</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 input-group">
                                <mat-form-field class="example-full-width">
                                    <input [(ngModel)]="rut" disabled="{{disable}}" matInput placeholder="Rut" required>
                                </mat-form-field>

                                <button (click)="getPaciente(rut)" class="btn btn-white btn-round btn-just-icon" mat-raised-button
                                        type="submit">
                                    <i class="material-icons">search</i>
                                    <div class="ripple-container"></div>
                                </button>
                            </div>
                        </div>

                        <div *ngIf="paciente" class="row">
                            <div class="col-md-2">
                                <mat-form-field class="example-full-width">
                                    <input [(ngModel)]="paciente.nombres" disabled matInput placeholder="Nombre">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field class="example-full-width">
                                    <input [(ngModel)]="paciente.apellidoPaterno" disabled matInput
                                           placeholder="Apellido paterno">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field class="example-full-width">
                                    <input [(ngModel)]="paciente.apellidoMaterno" disabled matInput
                                           placeholder="Apellido materno">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field class="example-full-width">
                                    <input [(ngModel)]="paciente.telefono1" disabled matInput placeholder="Telefono 1"
                                           type="text">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field class="example-full-width">
                                    <input [(ngModel)]="paciente.telefono2" disabled matInput placeholder="Telefono 2"
                                           type="text">
                                </mat-form-field>
                            </div>

                        </div>

                        <div class="row" *ngIf="paciente">
                            <div class="col-md-12">
                                <label>Preexistencias</label>
                                <mat-form-field class="example-full-width">
                                    <textarea [(ngModel)]="paciente.historialMedico" matInput rows="5"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <button (click)="actualizar()" *ngIf="paciente" class="btn btn-danger pull-right" mat-raised-button type="submit">Editar</button>
                        <button (click)="limpiar()" *ngIf="paciente" class="btn btn-danger pull-right" mat-raised-button type="submit">Cancelar</button>
                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

